<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"> &nbsp;&nbsp;Taskmanager</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            
            {% if user.is_authenticated %}
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/">Create a team</a></li>
            <li><a href="/teams">My teams</a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            {%endif%}

            
        </ul>
    </div>
</nav>