{% extends "taskman/header.html" %}

{%block content%}
<div class="card-panel">
    <span class="blue-text text-darken-2">Welcome to your dashboard!</span>
</div>
{% if tasks %}
<table class="highlight">
    <tr>
        <th>Assignee</th>

        <th>Task Title</th>

        <th>Task Status</th>
    </tr>
    {% for task in tasks %}
 
    <tr>
        <td>{{ task.assignee }}</td>

        <td>{{ task.title }}</td>
        <td>{{ task.status }}</td>
        <td><a class="waves-effect waves-light btn-small" href="{% url 'taskman:detail' task.id %}">View</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no tasks assigned</p>
{% endif %}

{% endblock%}