{% extends "taskman/header.html" %}

{%block content%}    
<h5>Dashboard</h5>
<div class=" right-align ">
<a href="/create-task" class="waves-effect waves-light btn-small">Create Task</a>
</div>
{% if tasks %}
<table class="highlight">
    <tr>
        <th>Creator</th>

        <th>Team</th>

        <th>Title</th>

        <th>Assignee(s)</th>

        <th>Status</th>

        
    </tr>
    {% for task in tasks %}
 
    <tr>
        <td>{{ task.creator }}</td>
        <td>{{ task.team }}</td>
        <td>{{ task.title }}</td>
        <div class="truncate"><td class="select"><select>        
                
        {% for assignee in task.assignee.all %}<option>{{assignee}}</option> &nbsp;{% endfor %}</select></td></div>
        <td>{{ task.status }}</td>
        
        <td><a class="waves-effect waves-light btn-small" href="{% url 'taskman:detail' task.id %}">View</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no tasks assigned</p>
{% endif %}


{% endblock%}