{% extends "taskman/header.html" %}

{%block content%}

{% if request.user == task.creator %}
<div class="right-align  ">
<a href="{% url 'taskman:task_edit' task.id %}" class="waves-effect waves-light btn-small blue ">Edit Task<i class="material-icons right">mode_edit</i></a>
</div>
{% endif %}
   
            <p><b>Creator:</b>    {{ task.creator }}</p>
            <p><b>Team:</b>    {{ task.team }}</p>
            <p><b>Assignee:</b>{% for assignee in assignees %} {{assignee}} &nbsp;{% endfor %}</p>
            <p><b>Task Title:</b>  {{ task.title }}</p>
            <p><b>Task Description:</b><p>
            <p>{{ task.text }}</p>
            <p><b>Task Status:</b> {{ task.status }}<p>
            <a class="btn btn-default" href="{% url 'taskman:add_comment' task_id=task.pk %}">Add comment</a>
            
            {% for comment in task.comments.all %}

            <div class="card-panel">
                    

            
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}                <div class="right">
                            {% if request.user.username == comment.author %}
                  <a href="{% url 'taskman:comment_remove' comment.pk %}" class=" waves-effect waves-light btn-small red right-align">Delete</a>
                  {% endif %}  
                </div>
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}
                </p>
            
            </div>
            </div>
            {% empty %}
            <p>No comments here yet :(</p>
            </div>
            {% endfor %}
            


{% endblock%}