<head>
        {% load static %}
    
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
    </head>
    
    <body>
        {% include "taskman/includes/navbar.html" %}
        {% include "taskman/includes/messages.html" %}
     
    
        <div class="container">
            <div class=" card-panel">
 
            <br>
            {% block content%}
            {% endblock %}
            </div>
        </div>
    
{% if user.is_authenticated %}  
<div class="fixed-action-btn tooltipped" data-position="left" data-tooltip="Quick Navigation" >
        <a class="btn-floating btn-large black">
          <i class="large material-icons">menu</i>
        </a>
        <ul>
          <li><a class="btn-floating purple tooltipped" data-position="left" data-tooltip="Dashboard" href="/dashboard"><i class="material-icons">insert_chart</i></a></li>
          <li><a class="btn-floating red tooltipped" data-position="left" data-tooltip="Create a team" href="/create-team"><i class="material-icons">group_add</i></a></li>
          <li><a class="btn-floating blue tooltipped" data-position="left" data-tooltip="Create task" href="/select-team"><i class="material-icons">mode_edit</i></a></li>
        </ul>
      </div>
{% endif %}   
 
            
    
    </body>
    <script>M.AutoInit();</script>