{% extends "taskman/header.html" %}

   {%block content%} 
   
   <div class="carousel carousel-slider center">
      <div class="carousel-fixed-item center">
          <h2 class="white-text text-darken-5">Taskmanager</h2>
           <p class="white-text text-darken-5">Taskmanager is a multi-user Django based webapp that lets its users effectively manage and monitor their tasks.</p>
           
         </div>
      <div class="carousel-item white-text">

        <img src="https://images.pexels.com/photos/1345085/pexels-photo-1345085.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">

      </div>
      <div class="carousel-item white-text" href="#one!">

          <img src="https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
  
        </div>
        <div class="carousel-item white-text" href="#one!">

            <img src="https://images.pexels.com/photos/910332/pexels-photo-910332.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
    
          </div>
      
    </div>
    {% endblock%}

     